In [8]:
print("Hello there")

Hello there

In [9]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [10]:
# Read headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
print(df['Name'][:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [12]:
# print each column
print(df[['Name','HP']])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

In [13]:
# print each row
print(df.iloc[4:6])

   #        Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
4  4  Charmander   Fire    NaN  39      52       43       60       50     65
5  5  Charmeleon   Fire    NaN  58      64       58       80       65     80

   Generation  Legendary
4           1      False
5           1      False

In [14]:
print(df.iloc[0,1])

Bulbasaur

In [15]:
# specific feature
# get a particular number having a similar feature
df.loc[df['Type 1'] == "Fire"][:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [16]:
# sorting
df.loc[df['HP'] > 40].sort_values(['HP'], ascending = False)[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
313,289,Slaking,Normal,NaN,150,160,100,95,65,100,3,False
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True

In [17]:
# looking at your data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [18]:
# making changes to your data # adding a column
df['Total Strength'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244

In [19]:
# dropping a column
df = df.drop(columns = 'Total Strength')
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [20]:
# adding rows and making a column
df['Max Strength'] = df.iloc[:, 4:10].sum(axis = 1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Max Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [21]:
# reordering the columns
# create a list of the column names
cols_list = list(df.columns)
new_df = df[cols_list[:4] + cols_list[5:8]]
new_df.head(5)

   #                   Name Type 1  Type 2  Attack  Defense  Sp. Atk
0  1              Bulbasaur  Grass  Poison      49       49       65
1  2                Ivysaur  Grass  Poison      62       63       80
2  3               Venusaur  Grass  Poison      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison     100      123      122
4  4             Charmander   Fire     NaN      52       43       60

In [22]:
print(df.columns.get_loc('Type 1'))

2

In [23]:
a_dataframe = pd.DataFrame({"Letters": ["a", "b", "c"], "Numbers": [1, 2, 3]})
print(a_dataframe.columns.get_loc('Letters'))

0

In [24]:
# getting location and creating dataframe
new_df = df[cols_list[df.columns.get_loc('#'):df.columns.get_loc('Generation')]]
new_df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,39,52,43,60,50,65

In [25]:
# getting rid of the index
new_df.to_csv('modified_data.csv', index = False)

In [26]:
# Filtering data
grass_poison = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

gp = grass_poison.reset_index(drop = True)
gp

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Max Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
5,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
6,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
7,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
8,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
9,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
10,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
11,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
12,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
13,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
14,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [27]:
# filtering out mega in string
wm = df.loc[~df['Name'].str.contains('Mega')]
wm

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Max Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [28]:
# conditional changes
# changing the max strength of legendaries into infinity
df.loc[df['Legendary'] == True, ['Max Strength']] = 'infinity'
df.loc[df['Legendary'] == True]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Max Strength
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True,infinity
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True,infinity
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,infinity
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True,infinity
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,infinity
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,infinity
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,infinity
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,infinity
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,infinity
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,infinity

In [30]:
# group by TYPE 1 and find the mean and sort them by HP
df = pd.read_csv('modified_data.csv')
df.groupby(['Type 1']).mean().sort_values('HP', ascending =False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [33]:
# count
df.groupby(['Type 1']).count()

            #  Name  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug        69    69      52   69      69       69       69       69     69
Dark       31    31      21   31      31       31       31       31     31
Dragon     32    32      21   32      32       32       32       32     32
Electric   44    44      17   44      44       44       44       44     44
Fairy      17    17       2   17      17       17       17       17     17
Fighting   27    27       7   27      27       27       27       27     27
Fire       52    52      24   52      52       52       52       52     52
Flying      4     4       2    4       4        4        4        4      4
Ghost      32    32      22   32      32       32       32       32     32
Grass      70    70      37   70      70       70       70       70     70
Ground     32    32      19   32      32       32       32       32     32
Ice        24    24      11   24      24       24       24       24     24
Normal     98    98      37   98      98       98       98       98     98
Poison     28    28      13   28      28       28       28       28     28
Psychic    57    57      19   57      57       57       57       57     57
Rock       44    44      35   44      44       44       44       44     44
Steel      27    27      22   27      27       27       27       27     27
Water     112   112      53  112     112      112      112      112    112

In [36]:
df['Count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

In [39]:
df2 = df.head(5)
df2.loc[2] = [2,'MinaSaur', 'Grass', 'Poison', '40', '70', 23,123,4,1,1]

c:\users\nasif\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)